{% extends "admin/change_list.html" %}
{% load i18n admin_urls %}
{% block object-tools-items %}
    {{block.super}}
<style>
    .a{
        
        width: 90px;
        margin-right:3px;
        margin-bottom:3px;
    }
</style>
    <a href="/pdf/generatePDFCategorias" class="btn btn-outline-success float-right a">Generar PDF</a>
    <a href="/admin/gestión_académica/curso/export/" class="btn btn-outline-success float-right a">Exportar</a>
    <a href="/admin/gestión_académica/curso/import/" class="btn btn-outline-success float-right a ">Importar</a>


{%endblock%}